<div class="container">
    <nav class="nav-bar">
        <img src="" alt="AZSolutions" class="logo">

        <ul class="main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Follow</a></li>
        </ul>
    </nav>
</div>



<section class="showcase">
    <div class="video-container">
        <video src="assets/quiet_beach.mp4" autoplay muted loop></video>
    </div>
    <div class="content">
        <div class="fade-in">
            <h1>Daycare Manager</h1>
            <h2>AZ Daycare Solutions Inc</h2>
            <img src="assets/scroll.gif" id="gif" alt="animated" />
        </div>
    </div>
</section>
<section>
    <h1>
        Hellos
    </h1>
    <p>
        Ispumlorem
    </p>
</section>